@use "../abstracts" as *;

main {
    margin-top: 5rem;
    display: flex;
    column-gap: 5rem;

    @media (max-width: 1100px) {
        flex-direction: column;

        .search {
            text-align: center;
        }

        .search-results .placeholder-img {
            display: none;
        }
    }

    @media (max-width: 800px) {
    }

    & div {
        flex: 1 1 50%;
    }

    .search {
        h1 {
            font-size: $font-h1;
            color: $text-orange;
            font-weight: 500;
        }
    }

    .search-results {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .placeholder-img {
            margin-top: 2rem;
            border-radius: 20px;
        }
    }
}
