@use "../abstracts/" as *;

.error-msg {
    color: $text-error;
}

.general-error {
    color: $text-general-error;
    font-size: $font-general-error;
    text-align: center;
}

.searching-msg {
    text-align: center;
    width: 100%;
}
